## Reading data in Python

In [5]:
import pandas as pd

In [8]:
D = pd.read_csv('FlightDataset.csv')
# D = pd.read_excel('MusicGenre.xlsx')
D.head()
#D.head(len(D))

,Airline,Flight,Source city,Departure time,Stops,Arrival time,Destination city,Class,Duration,Days left,Price
0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1.0,5953.0
1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1.0,5953.0
2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1.0,5956.0
3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1.0,5955.0
4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1.0,5955.0

In [9]:
print(D)

         Airline   Flight Source city Departure time Stops   Arrival time  \
0       SpiceJet  SG-8709       Delhi        Evening  zero          Night
1       SpiceJet  SG-8157       Delhi  Early_Morning  zero        Morning
2        AirAsia   I5-764       Delhi  Early_Morning  zero  Early_Morning
3        Vistara   UK-995       Delhi        Morning  zero      Afternoon
4        Vistara   UK-963       Delhi        Morning  zero        Morning
...          ...      ...         ...            ...   ...            ...
247116   Vistara   UK-858   Bangalore  Early_Morning   one          Night
247117   Vistara   UK-864   Bangalore        Evening   one        Morning
247118   Vistara   UK-850   Bangalore        Evening   one        Morning
247119   Vistara   UK-858   Bangalore  Early_Morning   one          Night
247120   Vistara   UK-864   Bangalore        Evening   one        Morning

       Destination city     Class  Duration  Days left    Price
0                Mumbai   Economy      2.17        1.0   5953.0
1                Mumbai   Economy      2.33        1.0   5953.0
2                Mumbai   Economy      2.17        1.0   5956.0
3                Mumbai   Economy      2.25        1.0   5955.0
4                Mumbai   Economy      2.33        1.0   5955.0
...                 ...       ...       ...        ...      ...
247116            Delhi  Business     14.00       30.0  57081.0
247117            Delhi  Business     14.67       30.0  57081.0
247118            Delhi  Business     15.08       30.0  57081.0
247119            Delhi  Business     15.25       30.0  57081.0
247120             Delh       NaN       NaN        NaN      NaN

[247121 rows x 11 columns]